#container {
    display: flex;
    flex-direction: column;
    background-image: url("background4.jpg");
    /* align-items: center; */
    border-radius: 2rem;
   padding: 15.5%;
    font-family: 'Everlasting', "Palatino Linotype", Arial, Helvetica, sans-serif; color: #fafafa;
}

#header {
    background-color: #fbfeff;
    text-align: center;
    width: fit-content;
    border-radius: 4rem;
    margin: 0 auto;
    padding: 1% 5%;
    transition: all .2s ease-in-out;
    font-family: "Palatino Linotype", Arial, Helvetica, sans-serif; color: #05001b; text-shadow: rgb(255, 255, 255) 0 0 8px;
}

#header:hover {
    transform: scale(1.05);
    background-image: url('hidden.jpg');
}


#greating {
    background-color: #fbfeff;
    border-radius: 2rem;
    padding-left: 30px;  padding-right: 30px; padding-top: 5px; padding-bottom: 5px;
    margin: 10px;
    transition: all .2s ease-in-out;
    font-family: "Palatino Linotype", Arial, Helvetica, sans-serif; color: #05001b;
}

#greating:hover {
    transform: scale(1.05);
}

#hello {
    background-color: #fbfeff;
    border-radius: 2rem;
    width: 30%;
    padding-left: 30px;  padding-right: 30px; padding-top: 5px; padding-bottom: 5px;
    margin: 10px;
    transition: all .2s ease-in-out;
    font-family: "Palatino Linotype", Arial, Helvetica, sans-serif; color: #05001b;
}

#hello:hover {
    transform: scale(1.05);
}

#solve {
    background-color: #fbfeff;
    border-radius: 2rem;
    padding-left: 25px;  padding-right: 25px; padding-top: 8px; padding-bottom: 8px;
    margin: 15px;
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out;
    font-family: "Palatino Linotype", Arial, Helvetica, sans-serif; color: #05001b;
}

#solve:hover {
    transform: scale(1.05);
}

.btn {
    background-color: rgb(73, 0, 156);
    font-family: "Palatino Linotype", Arial, Helvetica, sans-serif; color: #ffffff; font-weight: bold;
    margin: 5px;
    width: 130px;
    height: 50px;
    border-width: 1px; border-color: rgb(61, 0, 131); border-radius: 1rem;
}

.btn:hover {
    background-color: rgb(95, 0, 204);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

#td {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}

@font-face {
    font-family: 'Everlasting';
    src: url('Everlasting.ttf');
    }
    h1 {font-family: 'Everlasting', "Palatino Linotype", Arial, Helvetica, sans-serif; color: #ffd787; text-shadow: rgb(0, 0, 0) 0 0 8px;
    }
  